body{
    background-color: black;
    color: white;

}
#main{
    display: grid;
    /* grid-template-rows: 500px 500px; */


    grid-template-columns: 300px 200px;


    height: auto;
    
}
#navbar{
   
    grid-column: 1/4;
    height: 50px;
    }
#img{
    
  grid-column: 1/3;

  width: 1fr;
  height:500px;
}
#footer{
  
   position: fixed;
 
    top: 650px;

    width: 1300px;
    margin-bottom: 2px;
    text-align: center;
    margin-bottom: 500px;
    

    padding-left: 620px;
    font-size: 25px;}
#myname{
display: inline;
}
#img img{
    width: 400px;
    height: 400px;
    margin: 40px;
    padding: 50px;
    border-radius: 50%;
}


.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(90deg,
            red,green,yellow,blue);
              background-size: 50% auto;
  
    background-clip: text;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: block;
    font-size: 40px;
    margin-top: 120px;
 }

@keyframes textclip {
    to {
        background-position: 50% center;
    }
}
#designation p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;


}
#navbar ul a{
   margin-right: 20px;
   padding: 20px;
   
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
ul{

float: right;
padding-top: -5px;
margin:5px;
font-size: 20px;
}
a:hover{
   background-color: grey;
   color: black;
   
}
a{
   font-size: 25px;
   
}
